body{
    background-color:antiquewhite;
   margin: 0px;
   /*text-align:left ;
   display: block;*/
   font-family: 'Merriweather', serif;
}
/*STARTING OF THE UPPER CONTAINER CSS*/
 .gradient-background
{
    background: linear-gradient(300deg, #000, green, orange);
    background-size:200% 200%;
    animation: gradient-animation 10s ease infinite;
    height: 450px;
   position: relative;
   padding-top: 0.5px;
   padding-right: 66.5px;
   max-width: 100%;overflow-x: hidden;
    /* used for putting background on top*/
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
h1{
    
    position: relative; /* or absolute, depending on your layout needs */
  top: 70px;          /* Adjust top position */
  left: 70px;
    font-size: 75px;
    color: white;
}
.web{
    display: inline-block;
    position: relative;
   
    left: 70px;
    font-size: 50px;
    font-family: 'Aladin', cursive;
    letter-spacing: 3px;
    color:lightskyblue;
    
}
.image
{
    float:right;
  position: absolute;
  top: 150px;
  left:900px;
}
img{
    border: 10px solid white;
    border-radius: 50% 20% / 10% 40%;
  }
  /*ENDING OF THE UPPER CONTAINER CSS*/
  .skills
  {
    position: relative;
    top: 90px;
    left: 150px;
    width:900px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
  }
  .skill-text
  {
    background-color: black;
    width: 200px;
    display: block;
    border-radius: 20px;
    text-align: center;
  }
  .skill-text>h2{
    color: orange;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    left:45px
  }
  .lang
  {
    font-size: 25px;
    width: 800px;
    padding-left: 90px;
    font-family:'Vidaloka', serif;
  }
  .Achievements
  {
    
    position: relative;
    top: 90px;
    left: 110px;
    width:900px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 20px;
  }
  .Achievements-text
  {
    background-color: black;
    width: 300px;
    display: block;
    border-radius: 20px;
   padding: 10px;
   text-align: center;
  }
  .Achievements-text>h2{
    color: orange;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    left:5px;
  }
  #lang2
  {
    font-size: 25px;
    width: 800px;
    padding-left: 10px;
    font-family:'Vidaloka', serif;
  }
  .curricular
  {
    position: relative;
    top: 90px;
    left: 70px;
    width:1000px;
    padding-top: 20px;
   /* display: grid;
    grid-template-columns: 1fr 3fr;*/
  }
    .curricular-text
  {
    background-color: black;
    width: 800px;
    display: block;
    border-radius: 20px;
   padding: 2px;
   text-align: center;
   }
  .curricular-text>h2{
    color: orange;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    
  }
  table {
    border-collapse: separate;
    border-spacing: 30px; /* Adjust the value as per your requirement */
  }
  .lang3
  {
    font-size: 20px;font-family:'Vidaloka', serif;
  }
  .lang4
  {
    font-size: 20px;
    font-family:'Vidaloka', serif;
  }
